.ok {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.io {
    font-weight: 300;
    border: 2px transparent white;
}

.io:hover,
button:hover {
    border-bottom: 2px solid white;
}

.box {
    height: 400px;
    margin-top: 15px;
}

.box-content {
    margin-top: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.shop {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}